appnope==0.1.0
attrs==19.3.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.1.0
configparser==4.0.2
contextlib2==0.6.0.post1
decorator==4.4.1
defusedxml==0.6.0
entrypoints==0.3
enum34==1.1.6
functools32==3.2.3.post2
futures==3.3.0
importlib-metadata==1.5.0
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==5.2.0
jupyter-core==4.6.1
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==4.4.0
notebook==5.7.8
pandocfilters==1.4.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==1.0.18
psycopg2-binary==2.8.4
ptyprocess==0.6.0
Pygments==2.5.2
pyrsistent==0.15.7
python-dateutil==2.8.1
pyzmq==18.1.1
qtconsole==4.6.0
scandir==1.10.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
SQLAlchemy==1.1.14
terminado==0.8.3
testpath==0.4.4
tornado==5.1.1
traitlets==4.3.3
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==1.1.0


-e git://github.com/PartooHub/mongoengine.git@feature/document-modify#egg=mongoengine
alembic==1.0.0
babel==2.3.3
beautifulsoup4==4.7.1
blinker==1.4
boto==2.34.0
cryptography==2.3
datadog==0.23.0
Fabric==1.14.0
Faker==0.8.10
fire==0.1.3
Flask-Admin==1.5.4
flask-mongoengine==0.9.3
Flask==1.0
freezegun==0.3.8
geopy==1.10.0
google-api-python-client==1.6.5
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
google-auth==1.4.1
gunicorn==19.7.1
lingua==4.9
mock==1.3.0
mongomock==3.8.0
oauth2client==3.0.0
openpyxl==2.6.2
passlib==1.6.2
paste==1.7.5.1
payplug==1.0.0
pdfkit==0.5.0
phonenumbers==7.4.4
Pillow==4.3.0
premailer==3.2.0
psycopg2==2.7.3.2
pycountry==17.5.14
pydash==4.0.3
pydevd==1.0.0
pymongo==3.8.0
pyopenssl==17.5.0
pyramid-debugtoolbar==2.2.2
pyramid-mako==1.0.2
pyramid==1.10.4
pysftp==0.2.8
pytest-xdist==1.30.0
pytest-forked==1.1.3
pytest==4.6.7
python-intercom==3.1.0
python-levenshtein==0.12.0
pytz==2017.3
raven==6.3.0
redis==3.0.0
redislite==3.0.271
requests==2.20.0
rq-dashboard==0.5.1
rq==1.0
sendgrid==5.6.0
sentry_sdk==0.9.0
serpy==0.3.1
setuptools==39.0.1
simplejson==3.8.1
slackclient==1.2.1
SQLAlchemy-Utils==0.33.3
tabulate==0.7.7
timezonefinder==3.0.0
twilio==6.26.3
unidecode==0.04.1
w3lib==1.19.0
webtest==2.0.27
xlrd==0.9.3
xlwt==0.7.5
xmltodict==0.11.0
yelp==1.0.0
